body {
  background: #141414;
  color: #ffffff;
  margin-right: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

#root {
  padding-bottom: 30px;
}

.movie-app > .row {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  flex-shrink: 1;
  width: auto;
  height: 55vh;
}

.row::-webkit-scrollbar {
  display: none;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover.overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 90%;
  transition: 0.5s ease;
  bottom: 0;
  font-size: 15px;
  text-align: center;
  border-bottom: 2px solid grey;
}

.ratings {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.ratings svg {
  height: 40px;
  width: 40px;
}

.btn-primary {
  color: white;
  width: 20%;
  background: black;
  border: none;
}

.btn-primary:hover,
.btn-primary:active {
  color: white !important;
  background-color: black !important;
}

.feedback-container {
  height: auto;
  position: absolute;
  top: 100%;
  padding: 10px;
  background: black;
  width: 90%;
}

.commentsField {
  background: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  overflow: hidden;
  word-break: break-all;
}

.commentsField:disabled {
  background-color: black;
  color: white;
}

.commentsField::placeholder {
  color: lightgrey;
}

.modal-content {
  width: 50vw;
}

.bi-trash3:hover,
.bi-heart-fill:hover {
  color: red;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 0;
  display: block;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 2px;
}